body{
    width: 80d%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 2em;
  display: block;
}

.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #555;
  color: #f1f1f1;
  font-size: 3em;

}
#atozHeader{
    display: flex;
    justify-content: center;
    align-items: center;

}

.content{
    padding-top: 4em;
}

#alphabetDataPage{
    display: none;
    margin-left: 2.2em;
}

#alphabetDataPage div{
    margin-bottom: 2.5em;
    
}
#alphabetDataPage textarea{
    font-size: 2em;
    width: 15em;
}
#alphabetDataPage h3{
    font-size: 1.8em;
}
/* ===================== */
#enterTextPage{
    margin-left: 2.2em;
}

/* ======================== */
#enteredTextValue{
    width: 80%;
    font-size: 3em;
}
#make{
    font-size: 2em;
}

/* ============================ */
#savePhrasesButton{
    font-size: 2em;
}

/* ================================= */

/* =========================== */
#jsToHTML{
    overflow: scroll;
    padding-bottom: 5em;
}
.texts{ 
    /* changing printed out parsed stringe */
    font-size: 3em;
    /* padding-top: .8em; */
    /* padding-bottom: .8em; */
}
.text2{
    font-size: 1.7em;
    margin-bottom: 1.6em;
}